---
import {frontmatter, Content} from '../components/Contact.md';
import {frontmatter as fm} from '../components/Cegadatok.md';
const emailUser = fm.emailUser;
const emailDomain = fm.emailDomain;
---

<!-- Contact Section -->
<a name="kapcsolat"></a>
<div class="w3-container" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">{frontmatter.title}</h3>
  <div class="w3-center w3-large">
    <Content />
  </div>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Cím: {fm.address}</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Telefon: {fm.phone}</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: <a id="email"></a></p>
    <br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> Küldés
        </button>
      </p>
    </form>
  </div>
</div>

<style>
  a {
    text-decoration: none;
  }
</style>

<script is:inline define:vars={{emailUser, emailDomain}}>
const user = emailUser;
const domain = emailDomain;
const email = user + "@" + domain;

const link = document.getElementById("email");
link.href = "mailto:" + email;
link.textContent = email;
</script>
