---
import {frontmatter as fm} from '../components/Cegadatok.md';
---

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Tetetjére</a>
  <div class="w3-large w3-section">
    <span>Cím: {fm.address}</span> | <span>Adószám: {fm.taxNumber}</span> | <span>Telefon: {fm.phone}</span>
  </div>
  <p></p>
</footer>
