---
// Navbar idea
// https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_bw_portfolio&stacked=h
import { Image } from "astro:assets";
import logo from "../assets/images/base_logo.svg";
---
<div class="w3-top">
  <div class="w3-bar w3-white">
    <a href="/" class="w3-bar-item w3-large"><Image src={logo} alt="Hero image" height={48} /></a>
    <span class="w3-bar-item w3-large w3-right w3-button w3-ld-yellow w3-hover-opacity" onclick="openNav()"><i class="fa fa-bars"></i></span>
  </div>
</div>
<nav class="w3-sidebar w3-black w3-animate-right w3-xlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
    <div class="w3-bar-block w3-center">
      <a href="#cégbemutatás" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()"><i class="fa fa-registered"></i> Cégbemutatás</a>
      <a href="#villanyszerelés" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()"><i class="fa fa-plug"></i> Villanyszerelés</a>
      <a href="#érintésvédelem" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()"><i class="fa fa-flash"></i> Érintésvédelmi felülvizsgálat</a>
      <a href="#eon-regisztrált-szerelő" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()"><i class="fa fa-wrench"></i> E.ON regisztrált szerelő</a>
      <a href="#klímaszerelés" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()"><i class="fa fa-snowflake-o"></i> Klímaszerelés</a>
      <a href="#előnyök" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()"><i class="fa fa-lightbulb-o"></i> Miért minket válasszon</a>
      <a href="#kapcsolat" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()"><i class="fa fa-envelope"></i> Kapcsolat</a>
    </div>
  </div>
</nav>

<style define:vars={{ logoUrl: `url(${logo.src})` }}>
.nav_logo {
  background-image: var(--logoUrl);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
</style>

<script is:inline>
// Open - close navbar
function openNav() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
